{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="section wb">
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        {% include 'includes/withdraw_sidebar.html' %}
                        <div class="col-lg-9">
                            <div class="central-meta" id="withdraw_page">
                                <div class="row">
                                    <div class="col-md-12">
					<div class="text-center"><div class="alert"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  					Don't Forget to add your esewa khalti number or esewa number. For eg: khalti 9842765535 or esewa 9842765535</div></div>
					{% for message in messages %}
					   	<div class="text-center"><div class="alert alert-success"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
				  		{{ message }}</div></div>
				    	{% endfor %}
                                        <center><h3>{% trans 'Withdraw Amount' %}</h3></center>
                                    </div>
                                </div><br>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form col-md-6">
                                            <label for="withdraw">{% trans 'Withdraw Amount' %}</label>
                                            <input type="number" class="form-control" id="withdraw" name="withdraw" placeholder="{% trans 'Withdraw Amount' %}" required>
                                        </div>
                                        <div class="form col-md-6">
                                            <label for="username">{% trans 'Username of Frozza' %}</label>
                                            <input type="text" class="form-control" id="username" name="username" placeholder="{% trans 'Username of Frozza' %}" value="{{profiles.forzza_username}}" required readonly="readonly">
                                        </div>
                                    </div><br>

                                    <div class="form">
                                        <label for="review">{% trans 'Your Review' %}(Type your esewa number we will send a balance in your esewa)</label>
                                        <input type="textarea" class="form-control" id="review" name="review" placeholder="{% trans 'Donot Forget to add your esewa khalti number or esewa number. For eg: khalti 9842765535 or esewa 9842765535' %}" required>
                                    </div>
                                    <br>
                                        
                                    <button type="submit" class="btn btn-primary">{% trans 'Withdraw' %}</button>
                                    
                                </form>

                            </div>
                            <div class="central-meta" id="history_page">
                                <div class="row">
                                    <div class="col-md-12">
                                        <center><h1>{% trans 'Withdraw History' %}</h1></center>
                                    </div>
                                </div><br>
                                <table id="myTable" class="table table-striped table-responsive table-hover">
                                    <thead>
                                      <tr>
                                        <th scope="row">#</th>
                                        <th scope="col">{% trans 'Transaction Name of Frozza' %}</th>
                                        <th scope="col">{% trans 'Transaction Amount' %}</th>
                                        <th scope="col">{% trans 'Review' %}</th>
                                        <th scope="col">{% trans 'Status' %}</th>
                                        <th scope="col">{% trans 'Date' %}</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for history in histories %}
                                      <tr>
                                        <th>1</th>
                                        <td>{{history.frozza_username}}</td>
                                        <td>{{history.withdraw_amount}}</td>
                                        <td>{{history.review}}</td>
                                        <td>
                                            {% if history.status == True %}
                                                Complete
                                            {% else %}
                                                Pending
                                            {% endif %}
                                        </td>
                                        <td>{{history.date}}</td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="central-meta" id="how_page">
                                <div class="row">
                                    <div class="col-md-12">
                                        <center><h1>{% trans 'How to Withdraw' %}</h1></center>
                                    </div>
                                </div><br>
                                <h4>{% trans 'Step for Withdraw' %}</h4>
                                <ol>
                                    <div class="row">
                                        <li>{% trans 'Step' %} 1 : Firstly you to submit the form. The form should be fill carefully. Read the caption of form and submit it</li>
                                    </div><br>
                                    <div class="row">  
                                        <li>{% trans 'Step' %} 2 : Your balance should be equal to or less than forzza account balance. Other your request will be dismiss..</li>
                                    </div><br>
                                    <div class="row">
                                        <li>{% trans 'Step' %} 3 : After submit wait for a min your balance will be sent in your esewa account</li>
                                    </div><br>
                                    <div class="row">
                                        <li>{% trans 'Step' %} 4 : For more info contact us. For contact <a href="{% url 'core:home' %}#contact"> click here.</a> You can watch the video below.</li>
                                    </div><br>
                                </ol>
                                <iframe width="853" height="480" src="https://www.youtube.com/embed/_MkKZC-Fgy0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
